<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download file</title>
</head>
<body>

<%
function bytesToSize(bytes) {
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    if (bytes === 0) return '0 Byte';
    const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
    return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
}
%>

<div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
    <div>
        <h1><%= upload.name %> (<%= bytesToSize(upload.size) %>)</h1>
    </div>
    <% if (upload.password) { %>
        <p>Password protected (password saved)</p>
    <% } %>
    <a href="/file/<%= upload.upload_id %>/start">Download</a>
    <% if (owner) { %>
        <label for="link">Share the file</label>
        <input id="link" type="text">
        <form action="/file/<%= upload.upload_id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <% } %>
</div>

<script>
    document.querySelector('#link').value = window.location.href
</script>

</body>
</html>