<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload files</title>
</head>
<body>

<h1>Upload files here</h1>

<form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
    <div>
        <p id="fileText" hidden>File too big</p>
        <label for="file">Select a file</label>
        <input type="file" name="file" id="file" required>
    </div>
    <div>
        <label for="passwordCheck">Password</label>
        <input type="checkbox" id="passwordCheck" name="passwordCheck">
        <label for="password">Enter password</label>
        <input type="password" id="password" name="password" disabled>
    </div>
    <div>
        <label for="maxDownloads">Max Downloads</label>
        <input type="number" min="1" id="maxDownloads" name="maxDownloads">
        <label for="storageTime">Storagetime</label>
        <select name="storageTime" id="storageTime">
            <option value="300">5 minutes</option>
            <option value="3600" selected>1 hour</option>
            <option value="86400">1 day</option>
            <option value="604800">7 days</option>
            <option value="2628000">1 month</option>
        </select>
    </div>
    <button>Submit</button>
</form>

<script>

    const passwordCheck = document.querySelector('#passwordCheck')
    const password = document.querySelector('#password')
    const file = document.querySelector('#file')
    const fileText = document.querySelector('#fileText')

    function passwordDisable() {
        password.disabled = !passwordCheck.checked;
    }

    passwordCheck.addEventListener('click', () => {
        passwordDisable()
    })
    passwordDisable()

    file.addEventListener('change', (e) => {
        if (e.currentTarget.files[0].size > 1073741824) {
            fileText.hidden = false
            file.value = null
            setTimeout(() => fileText.hidden = true, 2000)
        }
    })

</script>

</body>
</html>